#comingSoonText {
  font-size: 4.4em;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.img-store {
  width: 12em;
}

.h1-64 {
  z-index: 2;
  color: #F9D545;
  letter-spacing: .03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.4em;
  font-weight: 800;
  line-height: 100%;
  position: relative;
}

.hero-img {
  width: 20em;
}

.color-gold {
  color: #F9D545 !important;
}

.bg-color-gold {
  background-color: #F9D545 !important;
}

.buy-now-btn{
  background-color: #F9D545;
  margin-left: 15px; 
}

.buy-now-btn:hover {
  background-color: #b7b7b7;
  color: #191919;
}