<div id="hero">
  <div class="home-page__title">0 DT #0 (<span class="home-page__title__old">SNAPSHOT #0</span>)</div>
  <div class="home-page__title-text">
    <div class="mt-2">+0 PER DAY</div>
    <div class="mt-2">0 UNTIL SNAPSHOT</div>
  </div>
  <div class="home-page__connect-button">Connect wallet</div>
</div>
