<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand fw-semibold" href="#">Shepydogs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="main-tab" data-bs-toggle="tab" href="#main-tabPanel" role="tab" aria-controls="main-tabPanel" aria-selected="true">Main</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="zero-inflation-yield-tab" data-bs-toggle="tab" href="#zero-inflation-yield-tabPanel" role="tab" aria-controls="zero-inflation-yield-tabPanel" aria-selected="false">Zero-Inflation Yield</a>
          </li>
        </ul>
        <div class="mx-auto fw-medium">BACK TO LANDING</div>
        <div class="connectWalletBtn">CONNECT WALLET</div>
      </div>
    </div>
  </nav>
</div>
