<div class="before-yield">
  <h3>The tokens given in yield are acquired on secondary market, from sellers.</h3>
  <h1>6+ months yield pool <br> CLAIMING HAS BEEN STARTED</h1>
</div>
<div class="pools">
  <div class="pools__head-content">
   <div class="pools__head-content__text-container">
    <h1 class="pools__head-content__headline">Pools</h1>
    <h1 class="pools__head-content__headline pools__head-content__text-container__rewards">Rewards: Loading...</h1>
   </div>
   <div class="pools__head-content__arrows">
    <button class="pools__head-content__buttons" type="button">
     <svg width="48" height="22" viewBox="0 0 48 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="pools__head-content__arrows_left">
      <path d="M36.0234 21L45.625 11L36.0234 1M44.5234 11H0.0234375H44.5234Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"></path>
     </svg>
    </button>
    <button class="pools__head-content__buttons" type="button">
     <svg width="48" height="22" viewBox="0 0 48 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="pools__head-content__arrows_right">
      <path d="M36.0234 21L45.625 11L36.0234 1M44.5234 11H0.0234375H44.5234Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"></path>
     </svg>
    </button>
   </div>
  </div>
  <div class="pools__container-wrapper" id="pools-container">
   <div class="pools__container" id="pools-scroll">
    <div class="data-container pools__item" style="padding: 24px;">
     <div class="pools__item__content">
      <div class="pools__item__content__header">
       <div class="pools__item__content__header__period">
        <h3>2+ months pool:</h3>
        <h3 class="pools__item-value">2,495,797 SHEPYDOG</h3>
       </div>
       <div class="pools__item__content__header__period">
        <h3>~added per month:</h3>
        <h3 class="pools__item-value">350,542 SHEPYDOG</h3>
       </div>
      </div>
      <div class="pools__item__content__footer">
       <div class="pools__item__content__footer__user-data">
        <h3>Your tokens</h3>
        <h3 class="pools__item-value user__tokens">0 SHEPYDOG</h3>
       </div>
       <div class="pools__item__content__footer__user-data">
        <h3>APR</h3>
        <h3 class="pools__item-value">0.07%</h3>
       </div>
      </div>
     </div>
    </div>
    <div class="data-container pools__item" style="padding: 24px;">
     <div class="pools__item__content">
      <div class="pools__item__content__header">
       <div class="pools__item__content__header__period">
        <h3>6+ months pool:</h3>
        <h3 class="pools__item-value">3,327,729 SHEPYDOG</h3>
       </div>
       <div class="pools__item__content__header__period">
        <h3>~added per month:</h3>
        <h3 class="pools__item-value">467,390 SHEPYDOG</h3>
       </div>
      </div>
      <div class="pools__item__content__footer">
       <div class="pools__item__content__footer__user-data">
        <h3>Your tokens</h3>
        <h3 class="pools__item-value user__tokens">0 SHEPYDOG</h3>
       </div>
       <div class="pools__item__content__footer__user-data">
        <h3>APR</h3>
        <h3 class="pools__item-value">0.17%</h3>
       </div>
      </div>
     </div>
    </div>
    <div class="data-container pools__item" style="padding: 24px;">
     <div class="pools__item__content">
      <div class="pools__item__content__header">
       <div class="pools__item__content__header__period">
        <h3>12+ months pool:</h3>
        <h3 class="pools__item-value">2,495,797 SHEPYDOG</h3>
       </div>
       <div class="pools__item__content__header__period">
        <h3>~added per month:</h3>
        <h3 class="pools__item-value">350,542 SHEPYDOG</h3>
       </div>
      </div>
      <div class="pools__item__content__footer">
       <div class="pools__item__content__footer__user-data">
        <h3>Your tokens</h3>
        <h3 class="pools__item-value user__tokens">0 SHEPYDOG</h3>
       </div>
       <div class="pools__item__content__footer__user-data">
        <h3>APR</h3>
        <h3 class="pools__item-value">0.14%</h3>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="pools__button-wrapper">
   <div class="button pools__button _disabled button--disabled">Loading...</div>
   <div class="button pools__button _disabled button--disabled">Loading...</div>
  </div>
</div>
