<!-- Modal -->
<div class="modal fade" id="giftModal" tabindex="-1" aria-labelledby="giftModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "logo.png", class: "img-fluid me-4", width: "40px" %>
        <h1 class="modal-title fs-5" id="exampleModalLabel">Gift Purchase Shepydogs</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Wallet Address:</span>
        <input class="form-control" id="walletAddress" type="text" value="<%= current_user.wallet_address %>" />
        <br>
        <div class="d-flex gap-3">
          <button class="btn bg-color-gold" onclick="adjustGiftCountValue(-1)">-</button>
          <input class="text-end form-control w-75" id="giftCoinCount" type="number" onchange="adjustGiftCount()" />
          <button class="btn bg-color-gold" onclick="adjustGiftCountValue(1)">+</button>
        </div>
      </div>

      <div class="row px-4">
        <div class="col-12">
          <span class="fs-5 fw-bold me-3">Total Amount:</span>
          <span id="totalGiftCoins" class="me-2">0</span>
          <span class="me-2">x</span>
          <span id="giftEthValue" class="me-2"><%= @token_details[9].to_f/10**18 %></span>
          <span class="me-2">ETH</span>
          <span class="me-2"> = </span>
          <span id="giftTotalAmount" class="me-2">0</span>
          <span>ETH</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn bg-color-gold" onclick="proceedGiftTransaction()">Proceed</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function adjustGiftCount(){
    const gift_inputCoinCount = event.target;
    document.getElementById('totalGiftCoins').innerHTML = gift_inputCoinCount.value;

    let gift_valueElement = document.getElementById('giftEthValue');
    const gift_numberString = gift_valueElement.textContent || gift_valueElement.innerText;
    const gift_numberValue = parseFloat(gift_numberString);
    document.getElementById('giftTotalAmount').innerHTML = (gift_numberValue * gift_inputCoinCount.value).toFixed(6);
  }

  function adjustGiftCountValue(value) {
    const gift_inputCoinCount = document.getElementById('giftCoinCount');
    gift_inputCoinCount.value = Number(gift_inputCoinCount.value) + value;
    document.getElementById('totalGiftCoins').innerHTML = gift_inputCoinCount.value;

    let gift_valueElement = document.getElementById('giftEthValue');
    const gift_numberString = gift_valueElement.textContent || gift_valueElement.innerText;
    const gift_numberValue = parseFloat(gift_numberString);
    document.getElementById('giftTotalAmount').innerHTML = (gift_numberValue * gift_inputCoinCount.value).toFixed(6);
  }

  async function proceedGiftTransaction() {
    const gift_coinsCount = document.getElementById('giftCoinCount').value;

    const gift_contractAddress = '0xADB2288bc444a6E76D723C27Fc8a100b1446b96a';
    const gift_provider = new ethers.providers.Web3Provider(window.ethereum);
    const gift_signer = gift_provider.getSigner(); 
    const gift_contractABI = [
      {
        "inputs": [
          {
            "internalType": "uint256",
            "name": "_tokenQuantity",
            "type": "uint256"
          },
          {
            "internalType": "address",
            "name": "_recieverAddress",
            "type": "address"
          }
        ],
        "name": "giftTokens",
        "outputs": [],
        "stateMutability": "nonpayable",
        "type": "function"
      }
    ];

    const gift_contract = new ethers.Contract(gift_contractAddress, gift_contractABI, gift_signer);
    const gift_walletAddress = document.getElementById('gift_walletAddress').value;

    gift_contract.giftTokens(parseInt(gift_coinsCount), gift_walletAddress);

    $("#giftModal").modal('hide');
    $(".modal-backdrop").addClass('d-none')
    alert('Continue on Metamask.');
  }
</script>