<%= javascript_include_tag "gift_token" %>
<div class="modal fade" id="giftModal" tabindex="-1" aria-labelledby="giftModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "logo.png", class: "img-fluid me-4", width: "40px" %>
        <h1 class="modal-title fs-5" id="exampleModalLabel">Gift Purchase Shepydogs</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Wallet Address:</span>
        <input class="form-control" id="gift_walletAddress" type="text" value="<%= current_user.wallet_address %>" />
        <br>
        <div class="d-flex gap-3">
          <button class="btn bg-color-gold" onclick="adjustGiftCountValue(-1)">-</button>
          <input class="text-end form-control w-75" id="giftCoinCount" type="number" onchange="adjustGiftCount()" />
          <button class="btn bg-color-gold" onclick="adjustGiftCountValue(1)">+</button>
        </div>
      </div>

      <div class="row px-4">
        <div class="col-12">
          <span class="fs-5 fw-bold me-3">Total Amount:</span>
          <span id="totalGiftCoins" class="me-2">0</span>
          <span class="me-2">x</span>
          <span id="giftEthValue" class="me-2"><%= @token_details[9].to_f/10**18 %></span>
          <span class="me-2">ETH</span>
          <span class="me-2"> = </span>
          <span id="giftTotalAmount" class="me-2">0</span>
          <span>ETH</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn bg-color-gold" onclick="proceedGiftTransaction()">Proceed</button>
      </div>
    </div>
  </div>
</div>
