<%= stylesheet_link_tag "bridge/main", media: "all" %>

<!-- Header Section -->
<header class="header">
  <div class="logo">STEP BRIDGE</div>
  <button class="connect-wallet-btn">Connect Wallet</button>
</header>
<!-- Gray Background Section with Centered Row -->
<section class="section">
  <div class="container justify-content-center">
    <span class="title">FITFI</span>
    <input type="text" id="input-field" class="input-field" placeholder="0.000">
    <button class="bridge-btn">Bridge</button>
  </div>
</section>