<div style="background-color: rgb(32, 36, 40);">
  <%= render partial: "shared/home/navbar" %>
  <%= render partial: "shared/home/hero_section" %>
  <%= render partial: "shared/home/footer" %>
</div>
