<%= stylesheet_link_tag "privacy_policy/main", media: "all" %>
<div style="background-color: #101010;">
  <%= render partial: "shared/privacy_and_terms/navbar" %>

  <div class="privacy-policy-section">
    <div class="container">
      <%= render partial: "shared/privacy_and_terms/heading", locals: { value: "Terms of Use" } %>
      <div class="wrapper-text text-white">
        <h2>Acceptance of Terms</h2>
        <p>By accessing or using the Shepydogs website and its services, you agree to be bound by these Terms of Use. If you do not agree, please do not use our website.</p>

        <h2>Blockchain Transactions</h2>
        <p>The Shepydogs network may require payment of transaction fees (referred to as “Gas Fees”) for each transaction. These fees support the decentralized network. Additionally, when using smart contracts through the website or app, you authorize us to collect related commissions as displayed. You acknowledge that these commissions will be directly transferred to us as part of the transactions.</p>

        <h2>Taxes</h2>
        <p>You are responsible for any taxes related to your use of the website or app, including any taxes from your ownership or transfer of cryptocurrencies or NFTs. You agree not to deduct these taxes from payments made to us.</p>

        <h2>Subscriptions and Payments</h2>
        <p>To pay any fees, you must provide information about your preferred payment method. You authorize us and third-party providers to handle your payment information. No refunds will be provided unless stated otherwise. Subscription fees may be required for certain features and can be billed monthly or annually in advance. You agree to pay all fees incurred through your account.</p>

        <h2>Auto-Renewal</h2>
        <p>Subscription fees will automatically renew at the start of each billing cycle. You may cancel your subscription at any time, and any cancellation will take effect at the end of the current billing period.</p>

        <h2>Cooling Off Period</h2>
        <p>If you reside outside the United States, you may be entitled to a full refund within fourteen (14) days, provided you have not logged in or used the services during this period.</p>

        <h2>Third-Party Content</h2>
        <p>The Shepydogs website and app may contain links to third-party websites or content. We are not responsible for the accuracy or legality of these external sites. Use them at your own risk, and review their respective terms and policies.</p>

        <h2>Disclaimers</h2>
        <p>Your use of the website and services is at your own risk. Shepydogs is provided “as is” without warranties of any kind. We do not guarantee that access to the website will be uninterrupted or free from errors. You accept the inherent security risks of online transactions and agree that we have no liability for breaches unless due to gross negligence.</p>

        <h2>Assumption of Risk</h2>
        <p>You acknowledge that:</p>
        <ul>
            <li>Cryptocurrency prices are volatile, and you may lose money.</li>
            <li>There are risks associated with using blockchain assets, including unauthorized access to your wallet.</li>
            <li>The regulatory landscape for blockchain technologies is uncertain.</li>
        </ul>

        <h2>Limitation of Liability</h2>
        <p>To the fullest extent permitted by law, Shepydogs will not be liable for any direct, indirect, incidental, or consequential damages arising from your use of the website or services. Our total liability is limited to the amount you paid us in the twelve (12) months prior to the claim.</p>

        <h2>Indemnification</h2>
        <p>You agree to indemnify and hold Shepydogs harmless from any claims, losses, or damages resulting from your use of the website or breach of these terms.</p>

        <h2>Dispute Resolution</h2>
        <p>You submit to the jurisdiction of the competent courts for any disputes arising from these terms. All disputes may be resolved by confidential arbitration at our discretion, and the decision will be binding.</p>

        <h2>Changes to Services</h2>
        <p>We reserve the right to modify or discontinue any part of the website or services without notice. We are not liable if any part of the services is unavailable.</p>

        <h2>Termination</h2>
        <p>We may terminate your access to the website and services at our discretion if you violate these terms. If terminated, you are prohibited from creating a new account.</p>

        <h2>Successors and Assigns</h2>
        <p>These terms will benefit and bind our respective successors and assigns. You may not assign these terms without our consent.</p>

        <h2>Governing Law</h2>
        <p>These terms will be governed by the laws applicable in the jurisdiction where Shepydogs operates, without regard to conflict of law principles.</p>

        <h2>Notices</h2>
        <p>All notices must be in writing and are considered effective when sent electronically during business hours.</p>

        <h2>Severability</h2>
        <p>If any part of these terms is deemed unlawful or unenforceable, that part will be severed, and the remaining provisions will remain valid.</p>

        <h2>Waiver</h2>
        <p>A waiver of any term does not constitute a continuing waiver of that term or any other.</p>

        <h2>Entire Agreement</h2>
        <p>These terms represent the entire agreement between you and Shepydogs regarding your use of the website and services.</p>
      </div>
    </div>
  </div>
</div>