<%= stylesheet_link_tag "exchange/main", media: "all" %>

<nav class="navbar navbar-expand-lg bg-body-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ShepyDogs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">MEMORANDOM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TOKEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">LOCKDROP GUIDE</a>
          </li>
        </ul>
        <div id="launchApp-btn">LAUNCH APP</div>
      </div>
    </div>
  </div>
</nav>