<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto gap-3 py-2 ps-3 pe-1 rounded-pill" style="background-color: #171717;">
        <li class="nav-item my-auto border-end" style="border-color: #202020 !important;">
          <a class="nav-link active text-white" aria-current="page" href="#">ShepyDogs</a>
        </li>
        <li class="nav-item my-auto">
          <a class="nav-link active text-white" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item my-auto">
          <a class="nav-link text-white" href="#">Features</a>
        </li>
        <li class="nav-item my-auto">
          <a class="nav-link text-white" href="#">Ecosystem</a>
        </li>
        <li class="nav-item dropdown my-auto">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Explore
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-white" href="#">Referrals</a></li>
            <li><a class="dropdown-item text-white" href="#">Affiliate</a></li>
            <li><a class="dropdown-item text-white" href="#">Mission</a></li>
            <li><a class="dropdown-item text-white" href="#">Blog</a></li>
            <li><a class="dropdown-item text-white" href="#">Help</a></li>
          </ul>
        </li>
        <li class="nav-item my-auto">
          <a id="nav-get-appBtn" class="nav-link" href="#">Get the App</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
